*.py[co]
*.bak
*.swp
*.log

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.cache
nonsetests
# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Remove temporary files
*~
*#

# Web2Py stuff

uploads
languages
databases
scripts/Dev-Ops
sessions
cache
errors
private
parameters_*
00.py
.reviewboardrc

# Django stuff

local_settings.py
